# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Environments
.env
.venv/
venv/
env/
.python-version

# Jupyter
.ipynb_checkpoints/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Caches
.cache/
pip-wheel-metadata/
pytest_cache/
